<div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header text-center">
          <h4>creer une promotion</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="col-sm-6">
                <label for="">Choix de la langue</label>

              </div>
              <div class="col-sm-6">
                <select id="" class="form-control">
                  <option>français</option>
                  <option>Anglais</option>
                </select>
              </div>

              </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Titre</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Description de la promo</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Lieu de la promo</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Reference</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>
              <div class="form-group">
                <label for="">choix de la fabrique</label>
                <select id="" class="form-control">
                  <option>Disabled select</option>
                </select>
              </div>
              <div class="form-group"> <!-- Date input -->
                <label class="control-label" for="date">Date</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
              </div>
              <button type="button" class="btn btn-primary">creer une promo</button>
          </form>
        </div>
      </div>

    </div>
</div>
