<div class="container">
  <div class="row">
    <div class="col"style="width: 25em">
      <div class="card shadow-lg  ">
        <div class="card-header">Creation d'un profil de sortie</div>
          <div class="card-body">
            <form [formGroup]= "addPSortie" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class=" col-form-label form-control-label">Libelle</label>
                <input class="form-control" type="text" placeholder="libelle"
                name="libelle" formControlName="libelle" required [(ngModel)]="profilSortie.libelle">
              </div>
              <button type="submit" class="btn btn-outline-primary">ajouter</button>

              <button type="submit" class="btn btn-outline-primary">annuler</button>
            </form>
          </div>
        </div>
     </div>
  </div>
</div>

